dist: xenial
language: python
python:
  - '3.7'
  - '3.8'
install:
  - pip install -e ".[tests]"
script:
  - pytest --cov=pyas2lib --cov-config .coveragerc  --black --pylava
after_success:
  - pip install codecov
  - codecov